<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DefaultDB" value="server=103.253.68.137;database=jbsdb;user id=dariaman;password=P@ssw0rddar;default command timeout=0;Respect Binary Flags=false;" />-->
    <add key="DefaultDB" value="server=192.168.30.18;database=jbsdb;user id=dariaman;password=P@ssw0rd;default command timeout=0;Respect Binary Flags=false;" />
    <add key="DirResult" value="C:\inetpub\wwwroot\jbs\File\UploadResult\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>